<h4><b>Add Collaborator</b></h4>
  <%= form_tag add_collaborator_wiki_path(wiki), method: :put do %>
    <div class="form-group">
      <p>
      <%= label_tag(:coll_email, "Email:") %>
      <%= email_field_tag :coll_email, nil %>
      <%= submit_tag 'Add Collaborator' %>
      </p>
    </div>
<% end %>