@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  margin-top: 5px;
  color: #002D62;
}

.nav.nav-tabs {
  margin-top: 5px;
  color: #002D62;
}

.user-info {
  margin-top: 12px;
}

.container {
  margin-top: 5px;
  color: #002D62;
}
