h1 {
  color: black;
}

#index-title {
  text-align: center;
  font-size: 15px;
  color: blue;
}

section {
  background: #5998ff;
  border-style: solid;
  border-width: 2px;
  margin: 2px 2px 2px 2px;
  padding: 3px 3px 3px 3px;
}